{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "add-module-exports",
    "syntax-dynamic-import",
    "loadable-components/babel",
    "dynamic-import-node"
  ],
  "comments": true
}