{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "react/display-name": 0,
    "react/no-danger": 0,
    "no-console": [
      1,
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "API_URL": true
  },
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": {
      "webpack": {
        "config": "./webpack/webpack.config.babel.js"
      }
    }
  }
}